@model Autor

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
              <h2 class="text-primary">adcionar Autor</h2>
              <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="nameAutor">Nome do autor</label>
            <input asp-for="nameAutor" class="form-control"/> 
        </div>
        <div class="mb-3">
            <label asp-for="LocalNascimento">Local do Nascimento</label>
            <input asp-for="LocalNascimento" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Adcionar</button>
        <a asp-controller="Autor" asp-action="Index" class="btn btn-secondary"> voltar</a>
    </div>
</form>
