@model IEnumerable<Autor>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
    <div class="col-6">
          <h2 class="text-primary">Autoras</h2>
    </div>     
      <div class="col-6 text-end">
        <a asp-controller="Autor" asp-action="Create" class="btn btn-primary">Add Editora</a>
      </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Nome do autor
            </th>
            <th>
                local de nascimento
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
                <tr>
                     <td width="50%">
                    @obj.nameAutor
                     </td>
                      <td width="50%">
                    @obj.LocalNascimento
                      </td>
                          <td>
                          <div class="w-75 btn-group" role="group">
                                <a asp-controller="Autor" asp-action="Edit" asp-route-id="@obj.Id_Autor"><i class="bi bi-pencil-square"></i>Editar</a>
                          </div>
                      </td>
                          <td>
                              <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Autor" asp-action="Delete" asp-route-id="@obj.Id_Autor"><i class="bi bi-pencil-square"></i>Excluir</a>
                              </div>
                          </td>
                </tr>
        }
    </tbody>
</table>

