@model Livro

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
              <h2 class="text-primary">adcionar Livro</h2>
              <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="NomeLivro">Titulo</label>
            <input asp-for="NomeLivro" class="form-control"/> 
        </div>
        <div class="mb-3">
            <label asp-for="Sinopse">endereço</label>
            <input asp-for="Sinopse" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="qtd_paginas"> Numero de paginas</label>
            <input asp-for="qtd_paginas" class="form-check"/>
        </div>
        <div class="mb-3">
            <label asp-for="idEditora"> código da editora</label>
            <input asp-for="idEditora" class="form-check"/>
        </div>
        <button type="submit" class="btn btn-primary">Adcionar</button>
        <a asp-controller="Livro" asp-action="Index" class="btn btn-secondary"> voltar</a>
    </div>
</form>
