@model Editora

<form method="post" asp-action="Edit">
    <input asp-for="IdEditora" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
              <h2 class="text-primary">Editar Editora</h2>
              <hr/>
        </div>
        @*@<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Nomefantasia">Nome Fantasia</label>
            <input asp-for="Nomefantasia" class="form-control"/> 
            <span asp-validation-for="Nomefantasia" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Endereco">endereço</label>
            <input asp-for="Endereco" class="form-control"/>
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a asp-controller="Editora" asp-action="Index" class="btn btn-secondary"> voltar</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }      
    }
