@model IEnumerable<Livro>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
    <div class="col-6">
          <h2 class="text-primary">Livro</h2>
    </div>     
      <div class="col-6 text-end">
        <a asp-controller="Livro" asp-action="Create" class="btn btn-primary">Add Livros</a>
      </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Livro Nome
            </th>
            <th>
                Livro Sinopse
            </th>
            <th>
                paginas
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
            <tr>
                <td width="50%">
                    @obj.NomeLivro
                </td>
                <td width="50%">
                    @obj.Sinopse
                </td>
                <td width="20%">
                    @obj.qtd_paginas
                </td>
            </tr>
        }
    </tbody>
</table>


